.login{
    background-color: darkseagreen;
    text-align: center;
    margin-bottom: 20px;
    
}
input{
    width: 300px;
    height: 30px;
    background-origin: border-box;
    border-color: darkmagenta;
    text-align: center;
}
form{
    text-align: center;
}
.login1{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    padding-bottom: 10px;
    border-style: solid;
    border-radius: 1rem;
}

