<div class="login1">
  <div class="login">
    <h1>LOGIN PAGE</h1>
  </div>
  <form class="forms" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)"> 
    <label>UserName:</label><br>
    <input type="text" placeholder="Enter Emp email" name="username"  ngModel required><br>
    <label>Password:</label><br>
    <input type="password" placeholder="Enter Password" name="password" ngModel required><br><br>
    <input type="Submit" name="submit">
    <input type="Reset" name="reset"><br><br>
    <a routerLink="/ADDEMPLOYEE">EMP REGISTRATION</a><br>
    <a routerLink="">forgot Password</a>
  </form>
</div>
