body{
    background-color: cyan;
}
.header img{
    float: left;
    padding-left: 30px;
    width: 150px;
    height: 100px;
}
.header h1{
    text-align: center;
    color:blue;
    margin: 0%;
    padding: 20px;
    text-shadow: 2px 2px rgb(238, 191, 191);
    background-color: cornsilk;
}
li{
    float: left;
    
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.emp1{
    width: 100%;
    background-color: cyan;
}
.emp{
    background-color: chartreuse;
}
li:hover{
    background-color: rgb(231, 150, 150);
}