<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last Name</th>
      <th scope="col">email</th>
      <th scope="col">password</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <td>{{emp.id}}</td>
      <td>{{emp.fname}}</td>
      <td>{{emp.lname}}</td>
      <th>{{emp.email}}</th>
      <th>{{emp.password}}</th>
      <th>{{emp.phone}}</th>      
    </tr>
  </tbody>
</table>